.corpo {
  background-image: url('../assets/fundo_dta.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #6e676740; // cerca de 25% opaco
    // backdrop-filter: blur(1.5px); 
  }

  > * {
    position: relative;
    z-index: 1;
  }
}