@use './variaveis' as *;

dialog.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-height: 80%;
  background: $claro;
  border-radius: 16px;
  padding: 2rem;
  text-align: center;

  border: 2px solid $destaque-rosa;
  box-shadow: 0 0 12px rgba(163, 7, 132, 0.7),
              0 8px 24px rgba(0, 0, 0, 0.4);

  z-index: 1000;

  /* foco acessível */
  &:focus-visible {
    outline: 4px solid $destaque-rosa;
    outline-offset: 4px;
  }

  /* título */
  .titulo {
    margin-bottom: 2rem;
    color: $destaque-rosa;
    font-size: 1.6rem;
  }

  /* texto */
  p {
    margin-bottom: 1.5rem;
    color: $fundo;
    font-size: 1rem;
    line-height: 1.5;
  }

  /* input de resposta */
  .caixaTexto {
    width: 80%;
    padding: 0.6rem;
    margin-top: 30px;
    margin-bottom: 1rem;
    border-radius: 6px;
    border: 2px solid $destaque-rosa;
    font-size: 1.2rem;
    background: $claro;
    color: $fundo;

    /*  visual acessível */
    &:focus-visible {
      outline: 3px solid $destaque-rosa;
      outline-offset: 2px;
    }
  }

  /* wrapper dos botões */
  .modal-botoes {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap; // caso aperte em mobile
  }

  .resultado {
    margin-top: 1.5rem;
    animation: fadein .3s ease;
  }

  img {
    margin-top: 1rem;
    width: 100px;
  }
}

/* animação bem simples pra feedback */
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Responsividade do dialog */
@media (max-width: 768px) {
  dialog.modal {
    width: 90%;
    padding: 1.5rem;
  }
}
